<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/34f0e8b9-663a-490a-80d4-af4456028e5b/resourceGroups/Project5/providers/Microsoft.Web/sites/webAppSampleP5</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webappsamplep5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>97f7cc99-17dc-4d91-a840-bcf30b2512e3</ProjectGuid>
    <PublishUrl>https://webappsamplep5.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webAppSampleP5</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>